/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400&family=Sacramento&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #116A7B;
    --primary-color: #ECE5C7;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
    margin-top: 10px;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.menssagem {
    font-size: 1.5em;
    margin-top: 30px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
}

.btn-restart {
    padding: 10px;
    margin: 20px;
    border: 0;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: bold;
}

.dica{
    margin-bottom: 20px;
}

#microfone {
    background-color: var(--primary-color);
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 4em;
}

#microfone:hover {   
    background-color: var(--bg-color);
    border: solid 2px var(--primary-color);
}
